.app {
  width: 100vw;
  height: 100vh;
  background: #11142B;
  display: grid;
  grid-template-rows: 8vh auto;
  align-items: center;
  justify-items: center;
}

.app-models {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

